/* -------------------------  */
/* ----- BASE STYLES ----- */
/* -------------------------  */

body {
    max-width: 100%;
    padding: 0;
    font-size: 16px;
}

/* FONTS */
@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.woff') format('woff');
    font-family: 'Oswald';
    src: url('fonts/Oswald-Medium.woff') format('woff');
}


h1,
h2,
h3,
h4 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #4A4A4A;

}

h1 {
    font-size: 2em;
}

h2 {
    text-transform: uppercase;
    font-size: 1.5em;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
}

h4 {

    font-size: 1em;
}

p {
    font-family: 'Inter', sans-serif;
    margin: 0 0.5em;
    text-align: center;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: white;
}

strong {
    font-family: 'Oswald';
}

/* ELEMENTS */

section {
    padding: 1.5em 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;

}


/* ----- HEADER/NAVIGATION ----- */

.header-wrapper {
    background-image: linear-gradient(#A4C2D9 80%, white) ;


    ;
}

header,
.nav-container {
    display: flex;
    flex-direction: column;
}

.nav-container>h2 {
    padding: 0.8em 0;
    margin: 0.1em 1em;
    border: 1px solid black;
    border-radius: 10px;
}

nav h2:hover {
    background-color: orange;
    transition: 0.2s;
}

nav h2 {
    line-height: 0;
}

.header-wrapper p {
    color: black;
}

.persona-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;

}

.persona {
    margin: 1em 0;
}

#profile-picture {
    width: 80%;

}

/* ----- PORFOLIO SECTION ----- */


.project {
    padding: 1em 0;
    margin: 1em;
}


/* ----- SKILLS----- */

#skills {
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 1em;
}

#skills h2 {
    margin-top: 0;
}

#skills li {
    font-family: 'Inter';
}

/* ----- CONTACT / FOOTER ----- */

footer {
    border-top: 1px solid black;
}

.contact-wrapper {
    padding: 1em 0;
}

.contact-wrapper p {
    color: black;
}

.footer-container {
    display: flex;
    margin: 1em;
}

#footer-name {
    margin-right: auto;

}

.footer-wrapper {
    background-image: linear-gradient(white, #A4C2D9) ;
}

#contact-info {
    font-family: 'Inter-Regular', sans-serif;
    text-align: center;
    padding: 1em 0;
    line-height: 2em;
    color: black;
}


#back-to-top {
    text-transform: uppercase;
    border: 1px solid orange;
    border-radius: 10px;
    padding: 0.2em 0.5em;
    align-items: flex-end;
}

#back-to-top:hover {
    background-color: papayawhip;
}

.footer-nav {
    display: none;
    overflow: hidden;
}

/* -------------------------  */
/* ----- TABLET STYLES ----- */
/* -------------------------  */

@media (min-width: 768px) {

    p {
        font-size: 1.1rem;
    }

    .nav-container {
        flex-direction: row;
        justify-content: center;
    }

    .nav-container>h2 {
        padding: 1em;

    }

    .persona-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        margin: 1em;

    }

    .persona-container p {
        text-align: left;
        padding: 0 1em;
    }

    #profile-picture {
        width: 50%;
    }

    .project-container {
        display: flex;
        flex-wrap: wrap;
    }

    .project {
        flex: 1 45%;
    }


    #contact-info {
        padding: 2em 4em;
    }

    .skills-wrapper {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }


    #footer-name {
        margin-right: auto;
    }

    #back-to-top {
        display: none;
    }



    .footer-nav {
        display: flex;
    }

    .footer-nav {
        text-transform: uppercase;
        justify-content: space-evenly;
        align-items: flex-end;
        margin: 1em;
    }

    .footer-nav:hover {
        text-decoration: underline;
    }
}

/* -------------------------  */
/* ----- DESKTOP STYLES ----- */
/* -------------------------  */

@media (min-width: 1024px) {

    p {
        font-size: 1.3rem;
    }

    header,
    .persona-container {
        margin: 2%;
    }

    header {
        flex-direction: row;
        justify-content: flex-end;
    }

    #home {
        justify-content: flex-start;
        margin-right: auto;
    }

    .nav-container {
        justify-content: flex-end;
    }

    .nav-container h2 {
        margin: auto 1em;
        padding: 1em;
    }

    .project {
        flex-basis: 30%;
    }

}